---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a href={href} class="text-[#0066FF] hover:text-[#0052cc] flex items-center gap-2 text-base">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4">
    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
  </svg>
  返回列表
</a> 